#greeting {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

div.container {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    height: 100%;
}

.hidden {
    visibility: hidden;
}

.error {
    color: red;
}
