#greeting {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

div.container {
    display: grid;
    grid-gap: 1em;
    justify-content: center;
    align-content: center;
    height: 100%;
}
